<div class="card border-primary mb-3">
  <div class="card-header">
    <i class="fa fa-arrow-circle-down" aria-hidden="true"></i> Clientes <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
  </div>
  <div class="card-body">
    <h4 class="card-title">Listado Clientes</h4>
    <div class="my-2 text-left">
      <button type="button" class="btn btn-rounded btn-primary" [routerLink]="['/clientes/form']">Crear cliente</button>
    </div>
    <div class="container-fluid !direction !spacing" *ngIf="clientes?.length == 0" class= "alert alert-info">
      No hay clientes en la base de datos
    </div>
    <table class="table table-bordered table-striped" *ngIf="clientes?.length > 0">
      <thead>
        <tr>
          <th>id</th>
          <th>nombre</th>
          <th>apellido</th>
          <th>edad</th>
          <th>email</th>
          <th>Registrado</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cli of clientes">
          <td>{{cli.id}}</td>
          <td>{{cli.nombre}}</td>
          <td>{{cli.apellido | uppercase }}</td>
          <td>{{cli.edad}}</td>
          <td>{{cli.email}}</td>
          <td>{{cli.createAt | date:"EEEE dd, MMMM yyyy" }}</td>
          <td> 
              <button name="button" id="buttonDelete" class="btn btn-primary" type="button" [routerLink]="['/clientes/form', cli.id]">Editar </button>
              <button name="button" id="buttonDelete" class="btn btn-danger" type="button" (click)="delete(cli)">Eliminar </button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

</div>
